
@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="jumbotron">
    <a asp-action="Echo" asp-route-name ="Reena"
    asp-route-city ="Chennai" >Call Echo </a>
        <a asp-action="SayHello" asp-route-name ="Sabrina">Call SayHello</a>
</div>