@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
@* <div>
    <a href="home/CreateAuthor">CREATE AUTHOR</a>
</div> *@
<div>
    <a href="home/ListAllAuthor">List AUTHOR</a>
</div>
<div>
    <a href="home/Delete">Delete</a>
</div>
<div>
    <a href="Author">Author  page</a>
</div>
<div>
    <a href="Emp">Emp  page</a>
</div>

<div>
    <a href="Movie">Movie List</a>
</div>