
@{
    ViewData["Title"] = "_BookList";
}

<hr />
<h1>_BookList</h1>
<ul>
    <li>Wasted in Engineering</li>
    <li>It happens for a Reason</li>
    <li>The Leader in You</li>
    <li>The One Minute Manager</li>
    <li>jonathan livingston seagull</li>


</ul>
<hr />
