
@{
    ViewData["Title"] = "Add";
}

<h1>Calculator</h1>
<div>
    <h1>@ViewData["Add result"]</h1>
</div>
<div>
    <h1>@ViewData["Product"]</h1>
</div>
<div>
    <h1>@ViewData["Divide"]</h1>
</div>
