@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MVC</h1>
</div>
<form action="Home/DoLogin">
    <div>
        <div>
            <label for="txtUser">User Name:</label>
            <input type="text" name="txtUser" required placeholder="Enter UserID" />
        </div>
        <div>
            <label for="txtpwd">Password:</label>
            <input type="password" name="txtpwd"  required placeholder="Enter Password" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </div>
</form>


@* <div>
    <a href="Home/SayHello?name=Preethi">SayHello</a>
</div>
<div>
    <a href="Home/Add?x=10&y=20">Sum</a>
</div>
<div>
    <a href="Home/Multiply?x=10&y=20">Product</a>
</div>
<div>
    <a href="Home/Divide?x=10&y=20">Divide</a>
</div>
<div>
    <a href="Home/AddNewBook?">New Book</a>
</div>
<div>
    <a href="Home/ListAllBook?">All Books</a>
</div> *@

<div style="align-content">
    <div>
    <a href="Home/AddNewAuthor?">New Author</a>
<div>
    <a href="Home/ListAllAuthor?">Author List</a>
</div>
    </div>
</div>
<div>
    <div>
        <a href="Author">Author Landing page</a>
     </div>
    
</div>
