
@{
    ViewData["Title"] = "ChildList";
}


<div style="background-color:aquamarine">
    <hr />
    <h1>ChildList</h1>
    <ul>
        <li>Pheobe</li>
        <li>Monica</li>
        <li>Rachel</li>
        <li>Chandler</li>
        <li>Ross</li>
        <li>Joey</li>

    </ul>
</div>