@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
</div>

<div>
    <a href="Doctor">Doctor Page</a>
</div>

<div>
    <a href="Patient">Patient Page</a>
</div>

<div>
    <a href="Appointment">Appointment Page</a>
</div>